extends partials/templates/template.pug

block content
  include partials/components/promo.pug
  include partials/components/why-trademark.pug
  include partials/components/order.pug
  include partials/components/development.pug
  include partials/components/works.pug
  include partials/components/we-may-more.pug
  include partials/components/twelve-months.pug
  include partials/components/process.pug
  include partials/components/doc-gallery.pug
  include partials/components/advantages.pug

