extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page--form
    +e.H1.title Заголовок про форму заявки
    +b.SECTION.content 
      p Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки. Параграф про форму заявки.Параграф про форму заявки.
    +e.form-wrapper  
      include partials/components/form--call.pug


