extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page
    +e.float-form
      include partials/components/form--application.pug 
    include partials/components/content.pug
    include partials/components/bottom-buttons.pug


