extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page
    +e.float-form
      include partials/components/form--application.pug 

    // Content
    +e.H1.page__title Заявка на товарный знак
    section.content      
      p
        a(href="#", title="Скачать Бланк Заявки на Товарный знак")
          strong
            em Скачать Бланк заявки на Товарный знак
      p Процесс регистрации выбранного обозначения в качестве товарного знака компании непосредственно в федеральном органе исполнительной власти по интеллектуальной собственности начинается с подачи заявки на товарный знак.
      p
        strong Согласно статье 1492 ГК РФ заявка на товарный знак может относиться только к одному обозначению и должна содержать следующую информацию:
      ul
        li заявление о государственной регистрации выбранного обозначения;
        li реквизиты заявителя (полное официальное наименование или ФИО, код ОКПО (если есть), адрес, для иностранного юридического или физического лица – код страны по ВОИС);
        li собственно обозначение (вклеивается фотография или изображение, отпечатанное типографским способом) и описание указанного обозначения;
        li перечень товаров (согласно МКТУ – Международной классификации товаров и услуг), с которыми будет использоваться товарный знак.
      p
        strong К заявке необходимо приложить пакет документов:
      ul
        li подтверждение уплаты государственной пошлины;
        li устав коллективного знака (т.е. знака, используемого группой компаний, ассоциацией).
      p
        a(href="#", style="float:left;margin:5px 10px 5px 0")
          img(src="img/zayavka_na_tz1.jpg", alt="Заявка на товарный знак", title="", width="100")
      p При испрашивании выставочного или конвенционного приоритета необходимо представить соответствующие документы. Более подробно об этом можно почитать в статье &laquo;
        a(href="#", title="Как зарегистрировать товарный знак")
          em Как зарегистрировать товарный знак
        | &raquo;.
      p Заявка может быть представлена на бланке, отпечатанном типографским методом или распечатанном на компьютере. Заявителем заполняются все графы, кроме трех, расположенных в верхней части листа, над словом «Заявка». Эти графы предназначены для указания служебной информации сотрудниками федерального органа исполнительной власти по интеллектуальной собственности.
      p Если размещение полной информации в соответствующей графе не представляется возможным, следует перенести ее на дополнительный лист, сделав соответствующую пометку.
      p Приказом Роспатента от 5 марта 2003 года № 32 утверждены «Правила составления, подачи и рассмотрения заявки на регистрацию товарного знака и знака обслуживания», в которых перечислены требования, в соответствии с которыми должно быть оформлено заявление на товарный знак (гл. 1, ст. 3.2.1).
      h2
        strong Кто может подать заявку на товарный знак
      p
        a(href="#", style="float:right;margin:5px 0 5px 10px")
          img(src="img/zayavka_na_tz2.jpg", alt="Заявка на товарный знак", title="", width="100")
      p Согласно статье 1247 ГК РФ ведение дел может осуществляться Заявителем лично, через патентного поверенного или иного наделенного соответствующими полномочиями представителя, имеющего регистрацию в федеральном органе исполнительной власти по интеллектуальной собственности. Факт наличия прав на ведение дел представителем должен быть подтвержден доверенностью, выданной Заявителем или иным заинтересованным лицом. Иностранные юридические лица и физические лица, постоянно проживающие за пределами РФ, осуществляют взаимодействие с федеральным органом исполнительной власти по интеллектуальной собственности через зарегистрированных патентных поверенных.
      h2
        strong Отзыв заявки
      p До момента регистрации товарного знака на любом этапе рассмотрения Заявитель вправе отозвать заявку.
      p Если Вы планируете подать заявление на товарный знак в федеральную службу по интеллектуальной собственности, нужно учитывать, что существует огромное количество нюансов при оформлении, которые на первый взгляд кажутся несущественными, однако могут стать причиной замедления процедуры или отказа в регистрации. Обращение к сведущим специалистам поможет свести к минимуму риск возникновения непредвиденных ситуаций, провести регистрацию спокойно и без проволочек.
      p(style="text-align:right")
        a(href="#", title="Скачать Бланк Заявки на Товарный знак")
          strong
            em Скачать Бланк заявки на Товарный знак

    include partials/components/bottom-buttons.pug


