.advantages{
  background-color: $white; 
  padding: 30px 80px 10px;
  @include mq($from:xs, $until:md){
    padding: 30px 20px 10px;
  }
    
  &__title{
    margin: 0;
    font-size: $font-size-title;
    font-weight: $bold;
  }
  &__list{
    padding-left: 0;
    margin: 0;
  }
  &__item{
    font-size: $font-size-text;
    text-align: left;
    position: relative;
    margin: 60px 0 60px 100px;
    @include mq($from:xs, $until:sm){
      margin-left: 0;
      margin-top: 100px;
      text-align: center;
    }
        
    &:before{
      content: "";
      border-radius: inherit;
      border: none;
      display: block;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-right: 10px; 
      @include mq($from:xs, $until:sm){
        left: 50%;
        top: 0;
        transform: translate(-50%, -120%);
        margin-right: 0;
      }       
    } 
    &:nth-of-type(1):before{
      @include sprite($s-adv-check);
    }  
    &:nth-of-type(2):before{
      @include sprite($s-adv-star);
    }  
    &:nth-of-type(3):before{
      @include sprite($s-adv-dollar);
    }
  }
}
