.btn{
  display: inline-block;
  background-color: $orange;
  color: $text-color-white;
  font-size: $font-size-btn;
  font-weight: 600;
  border: none;
  outline: none;  
  padding: 7px 15px;
  margin: 0;

  @include mq($from:xs, $until:xl){
    font-size: $font-size-btn * 0.9;
  }

  &:hover, &:focus, &:active{
    color: $text-color-white;
    text-decoration: none;
    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.5);
  }
  &:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
  }
  &--call:before{
    @include sprite($s-button-phone);
  }
  &--question:before{
    @include sprite($s-button-question);
  }
}
