.development{
  background-color: $white; 
  padding: 20px 80px 50px;
  @include mq($from:xs, $until:md){
    padding: 30px 20px;
  }

  &__title{
    margin: 0;
    font-size: $font-size-title;
    font-weight: $bold;
  }
  &__description{
    font-size: $font-size-text;
    margin: 20px 0 40px;
  }
  .btn{
    margin: 0 10px;
    @include mq($from:xs, $until:sm){
      margin: 0 10px 20px;
    }     
  }
}
