.form{
  text-align: center;
  background-color: $light-grey;
  border-radius: 5px;
  border: 5px solid $white;
  position: relative;
  padding: 0 50px;
  @include mq($from:xs, $until:sm){
    padding: 0 20px;
  } 

  &__close{
    position: absolute;
    top: 0;
    right: 5px;
    display: inline-block;
    transform: translateY(-135%);
    visibility: hidden;
  }
  &__title{
    margin: 35px 0 25px;
    font-weight: $bold;
    font-size: $font-size-slogan;
  }
  &__input{
    padding: 5px;
    width: 100%;
    border: 2px solid $white;
    &::-webkit-input-placeholder{
      color: $text-color;         
    }       
    &::placeholder{
      color: $text-color;         
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
    // &--time{
    //   width: 100px;
    //   margin: 0 5px;
    // }
  }

  &__textarea{
    padding: 5px;
    width: 100%;
    height: 150px;
    border: 2px solid $white;
    &::-webkit-input-placeholder{
      color: $text-color;         
    }       
    &::placeholder{
      color: $text-color;         
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  .btn{
    margin-bottom: 20px;
  }
}
