.has-success{
  input, textarea{
    border: 2px solid $success;
  }
}
.has-error{
  input, textarea{
    border: 2px solid $error;
  }
  .help-block-error{
    display: block;
  }
}
.help-block{
  display: none;
}

.form-group{
  margin-bottom: 20px;  
}
.form-list{
  padding: 5px;
  width: 100%;
  border: 2px solid $white;
}

.field-question-recaptcha .g-recaptcha > div { 
  margin: 0 auto
}