.order{
  background-color: $white; 
  &__form{
    position: relative;
    top: -60px;
    width: 50%;
    min-width: 500px;
    margin: 0 auto -60px;
    @include mq($from:xs, $until:sm){
      min-width: 100%;
    }     
  }
}
