.page{
  text-align: left;
  background-color: $light-grey;
  padding: 20px;
  &__title{
    margin: 0;
    padding: 20px 0;
  } 
  &__form-wrapper{
    width: 50%;
    min-width: 500px;
    margin: 20px auto 10px;
    @include mq($from:xs, $until:sm){
      min-width: 100%;
    }     
  }
  &__float-form{
    width: 40%;
    min-width: 400px;
    float: right;
    margin-left: 20px;
    @include mq($from:xs, $until:md){
      float: none;
      margin: 0 auto;
    } 
    @include mq($from:xs, $until:sm){
      min-width: 100%;
    }        
  }
}

.bottom-buttons{
  text-align: center;
  padding: 20px 0 40px;
  @include mq($from:xs, $until:sm){
    padding: 20px 0 20px;
  } 

  .btn{
    margin: 0 10px;
    @include mq($from:xs, $until:sm){
      margin: 10px;
    }    
  }   
}