.twelve-months{
  background-color: $white; 
  padding: 10px 80px 10px;
  @include mq($from:xs, $until:md){
    padding: 10px 20px 10px;
  }

  &__title{
    margin: 30px 0 0;
    font-size: $font-size-title;
    font-weight: $bold;
  }
  &__list{
    padding-left: 0;
    margin: 0;
  }
  &__item{
    font-size: $font-size-text;
    text-align: left;
    margin: 20px 0; 
  }
}
