.why-trademark{
  background-color: $light-grey;
  padding: 30px 80px 70px;
  font-size: $font-size-text;
  @include mq($from:xs, $until:md){
    padding: 30px 20px;
  }

  &__title{
    margin: 0;
    font-size: $font-size-title;
    font-weight: $bold;
  }
  &__description{
    margin: 10px 0 40px;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    @include mq($from:xs, $until:lg){
      display: block;
    }     
  }
  &__item{
    font-weight: $bold;
    font-size: $font-size-text;
    text-align: left;
    position: relative;
    margin-left: 100px;
    @include mq($from:xs, $until:sm){
      margin-left: 0;
      margin-top: 100px;
      text-align: center;
    }

    &:before{
      content: "";
      border-radius: inherit;
      border: none;
      display: block;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-right: 10px; 
      @include mq($from:xs, $until:sm){
        left: 50%;
        top: 0;
        transform: translate(-50%, -120%);
        margin-right: 0;
      }      
    } 
    &:nth-of-type(1):before{
      @include sprite($s-why-eye);
    }  
    &:nth-of-type(2):before{
      @include sprite($s-why-camera);
    }  
    &:nth-of-type(3):before{
      @include sprite($s-why-gift);
    } 

    @include mq($from:xs, $until:lg){
      margin-top: 50px;
      margin-bottom: 50px;
    } 
  }
  &__explanation{
    margin: 30px 0 25px;
  }
  &__appeal{
    font-size: $font-size-slogan;
    font-weight: $bold;
    display: inline-block;
    position: relative;
    margin-left: 90px;
    @include mq($from:xs, $until:md){
      margin-bottom: 60px;
    }
    @include mq($from:xs, $until:sm){
      margin-left: 0;
      margin-top: 80px;
    }

    &:before{
      @include sprite($s-why-lightning);
      content: "";
      display: block;
      position: absolute;
      left: -85px;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 10px; 
      @include mq($from:xs, $until:sm){
        left: 50%;
        top: 0;
        transform: translate(-50%, -120%);
        margin-right: 0;
      }      
    }     
  }
}
