- var application = [{name: 'application', title : 'Закажите документ онлайн', application: true, question: false, call: false, button: 'Заказать документ', success: 'Ваша заявка отправлена'}] 
- var question = [{name: 'question', title : 'Задать вопрос', application: false, question: true, call: false, button: 'Спросить', success: 'Ваш вопрос отправлен'}] 
- var call = [{name: 'call', title : 'Заказать звонок', application: false, question: false, call: true, button: 'Заказать звонок', success: 'Ваша заявка отправлена'}] 


mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      form(action='', method='', id= 'form--' + item.name)
        +e.A.close(href='#') Закрыть
        +e.H3.title #{item.title}
        if item.application
          .form-group.required.has-success
            +e.INPUT.input(type='text', name='Продукция', placeholder='Наименование продукции*') 
            p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required.has-error
          +e.INPUT.input(type='text', name='Имя', placeholder='Имя*')
          p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.has-success
          +e.INPUT.input(type='tel', name='Телефон', placeholder='Телефон')
          p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required.has-success
          +e.INPUT.input(type='email', name='Email', placeholder='Email*')
          p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required.has-success
          +e.region
            +e.INPUT.input(type='text', name='Страна', placeholder='Страна*')
            p.help-block.help-block-error Ошибка заполнения поля формы
            +e.UL.region-list
              li.bolder Россия
              li.bolder Беларусь
              li.bolder Казахстан
              li Украина
              li Азербайджан
              li Армения    
              li Грузия
              li Молдавия
        .form-group.required.has-success
          +e.region
            +e.INPUT.input(type='text', name='Регион', placeholder='Регион*')
            p.help-block.help-block-error Ошибка заполнения поля формы
            +e.UL.region-list
              li Санкт-Петербург и Ленинградская область
              li Москва и Московская область
              li Новгородская область
              li Псковская область
              li Республика Карелия
              li Мурманская область
              li Калининградская область
              li Вологодская область
              li Тверская область
        if item.question
          .form-group.required.has-success
            +e.TEXTAREA.textarea(type='text', name='Ваш вопрос', placeholder='Ваш вопрос*')
            p.help-block.help-block-error Ошибка заполнения поля формы
        if item.call
          .form-group.required.has-success
            +e.time
              +e.SPAN.time-text Желаемое время звонка c
              +e.INPUT.input--time(type='time', name='Звонить с') 
              | до
              +e.INPUT.input--time(type='time', name='Звонить до') 
            p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.captcha
        +b.BUTTON.btn(type='submit') #{item.button}
        p.help-block.help-block-success #{item.success}
