- var application = [{name: 'application', title : 'Закажите документ онлайн', application: true, button: 'Заказать документ', success: 'Ваша заявка отправлена'}] 
- var question = [{name: 'question', title : 'Задать вопрос', question: true, button: 'Спросить', success: 'Ваш вопрос отправлен'}] 
- var call = [{name: 'call', title : 'Заказать звонок', call: true, button: 'Заказать звонок', success: 'Ваша заявка отправлена'}] 


mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name)
      form(action='', method='', id= 'form--' + item.name)
        +e.A.close(href='#') Закрыть
        +e.H3.title #{item.title}
        if item.application
          .form-group.required.has-success
            +e.INPUT.input(type='text', name='Продукция', placeholder='Наименование продукции*') 
            p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required.has-error
          +e.INPUT.input(type='text', name='Имя', placeholder='Имя*')
          p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.has-success
          +e.INPUT.input(type='tel', name='Телефон', placeholder='Телефон')
          p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required
          +e.INPUT.input(type='email', name='Email', placeholder='Email*')
          p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required
          select.form-list
            option Россия
            option Беларусь
            option Казахстан
            option Украина
            option Азербайджан
            option Армения    
            option Грузия
            option Молдавия
        .form-group.required
          select.form-list
            option Санкт-Петербург и Ленинградская область
            option Москва и Московская область
            option Новгородская область
            option Псковская область
            option Республика Карелия
            option Мурманская область
            option Калининградская область
            option Вологодская область
            option Тверская область
        if item.question
          .form-group.required.has-success
            +e.TEXTAREA.textarea(type='text', name='Ваш вопрос', placeholder='Ваш вопрос*')
            p.help-block.help-block-error Ошибка заполнения поля формы
        //- if item.call
        //-   .form-group.required.has-success
        //-     +e.time
        //-       +e.SPAN.time-text Желаемое время звонка c
        //-       +e.INPUT.input--time(type='time', name='Звонить с') 
        //-       | до
        //-       +e.INPUT.input--time(type='time', name='Звонить до') 
        //-     p.help-block.help-block-error Ошибка заполнения поля формы
        .form-group.required
          .form-group.captcha
        .form-group.required
          +b.BUTTON.btn(type='submit') #{item.button}
          p.help-block.help-block-success #{item.success}
