mixin slide(img, text)
  +e.A.img(href='#')
    img(src= "img/" + img alt= text title= text)
    +e.DIV.modal
      img(src= "img/" + img alt= text title= text)
//- можно еще задать width/height, но т.к. изображения в контейнерах, все равно растянутся