/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           1.25rem !default; // 20px

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   768px; // Medium screen / tablet
$screen-lg:                   992px; // Large screen / desktop
$screen-xl:                   1280px; // Extra large screen / wide desktop
$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   800px,
        lg:                   1024px,
        xl:                   1280px,
        xxl:                  1900px
) !default;


$container-max-widths: (
        sm:                   480px,
        md:                   768px,
        lg:                   992px,
        xl:                   1280px,
        xxl:                  1890px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   800px,
        lg:                   1024px,
        xl:                   1280px,
        xxl:                  1900px

) !default;




//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table 

$white:                       #ffffff;
$orange:                      #fc7f00;
$light-grey:                  #ededed;
$dark-grey:                   #dcd9d9;
$black:                       #252525;

$success:                     #5cb85c;
$error:                       #d9534f;

// Colors in use

$body-bg:                     $dark-grey;
$text-color:                  $black;

$link-color:                  $text-color;
$link-color--hover:           darken($link-color, 20%);

$text-color-white:            $white;
$link-color-white:            $text-color-white;
$link-color-white--hover:     darken($link-color-white, 20%);



//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

$font-family:                 "Open Sans", Helvetica, Arial, sans-serif;
$font-family--serif:          Georgia, "Times New Roman", Times, serif;
$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;



$font-size-nav:               17px;
$font-size-form:              17px;
$font-size-info:              18px;
$font-size-text:              20px;
$font-size-btn:               20px;
$font-size-slogan:            22px;
$font-size-title:             24px;
$font-size-logo:              45px;

$line-height:                 1.4em;

$regular:                     400;
$semibold:                    600;
$bold:                        700;


