include ../abstracts/bemto/bemto.pug

// Advantages
+b.SECTION.advantages
  +e.H2.title Преимущества регистрации собственного товарного знака:
  +e.UL.list
    +e.item Гарантия защиты фирменной маркировки от копирования
    +e.item Получение дополнительных нематериальных активов (зарегистрированный товарный знак);
    +e.item Возможность оценки собственного товарного знака с целью дальнейшей рекламы, продажи, аренды или наращивания его узнаваемости на рынке, а также его стоимости.

