include ../abstracts/bemto/bemto.pug

// Bottom buttons
+b.SECTION.bottom-buttons
  +b.A.btn--call(href="page-form-call.html") Заказать звонок
  +b.A.btn--question(href="page-form-question.html") Задать вопрос


