include ../abstracts/bemto/bemto.pug

// Development
+b.SECTION.development
  +e.H2.title Как проводится разработка и регистрация товарного знака?
  +e.P.description Если вы хотите воплотить в жизнь ваши собственные задумки, или желаете, чтобы к вопросу разработки собственного отличительного признака продукции/компании подошел опытный и квалифицированный специалист, отправьте нам заявку на регистрацию торгового знака.
  +e.buttons-wrapper
    +b.A.btn--call(href="page-form-call.html") Заказать звонок
    +b.A.btn--question(href="page-form-question.html") Задать вопрос

