include ../abstracts/bemto/bemto.pug

// Process
+b.SECTION.process
  +e.H2.title В процессе работы мы обеспечим вас:
  +e.UL.list
    +e.item Бесплатными консультациями;
    +e.item Дистанционной работой по всей России;
    +e.item Сопровождением в течение всего времени оформления товарного знака; 
    +e.item Бесплатной доставкой оригиналов документов курьерской службой.

