include ../abstracts/bemto/bemto.pug

// Promo
+b.SECTION.promo
  +e.P.text Вы не можете сами превратить свои мечты в готовый продукт? 
  +e.P.text У вас есть сомнения в уникальности вашего фирменного знака или вам требуется его регистрация?
  +e.P.text.bolder Специалисты компании «Товарный Знак» помогут вам в этом!