include ../abstracts/bemto/bemto.pug

// Twelve-months
+b.SECTION.twelve-months
  +e.H2.title В течение следующих 12 месяцев мы:
  +e.UL.list
    +e.item Ответим на все запросы РОСПАТЕНТА касаемо процедуры регистрации вашего индивидуального товарного знака;
    +e.item Подтвердим перечень МКТУ для успешной регистрации товарного знака;
    +e.item Осуществим экспертную проверку уникальности товарного знака для его регистрации;
    +e.item Доведем до вашего сведения результаты оценки соответствия процедуры регистрации товарного знака, согласно законодательству РФ;
    +e.item Уведомим вас о вынесенном решении по регистрации товарного знака;
    +e.item Отправим вам свидетельство, подтверждающее регистрацию фирменного товарного знака курьерской службой.

