include ../abstracts/bemto/bemto.pug

// We-may-more
+b.SECTION.we-may-more
	+e.H2.title Мы можем больше!
	+e.UL.list
		+e.item Отправка запроса в РОСПАТЕНТ для подтверждения факта отсутствия более ранней заявки на разработанный  товарный знак;
		+e.item Подача заявки в РОСПАТЕНТ и закрепление за вами официального приоритета (с документальным удостоверением начала процедуры регистрации).

