include ../abstracts/bemto/bemto.pug

// Why-trademark
+b.SECTION.why-trademark
  +e.H2.title Зачем нужен товарный знак?
  +e.P.description Потребитель обращает внимание на  
  +e.UL.list
    +e.item Визуальное восприятие товара
    +e.item Красивую картинку
    +e.item Привлекательность упаковки
  +e.P.explanation Узнаваемый товарный знак поможет вашим покупателям узнать именно вашу продукцию.    
  +e.P.appeal Увеличьте продажи с Товарным Знаком!