include ../abstracts/bemto/bemto.pug

// Works
+b.SECTION.works
	+e.H2.title Мы выполним для вас следующие работы:
	+e.UL.list
		+e.item Поможем определиться с типом желаемого товарного знака (слово, изображение или комбинация слова и изображения);
		+e.item Составим для вашего индивидуального знака список товаров и услуг в терминах МКТУ (для каждого знака в мире имеется такой перечень);
		+e.item Проведем бесплатный оценочный поиск для гарантии того, что ваш знак строго  уникален, либо укажем на моменты, которые требуется доработать;

